/* BODY */
body {
    width: 100dvw;
    height: 100dvh;

    padding-top: 250px;
}

/* HEADER */
header {
    width: 100dvw;
    height: 150px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    top: 0px;
    bottom: 0px;
    z-index: 100;

}

#logo img {
    width: 150px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    margin-right: 1%;
}

header div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


    margin-left: 2%;

}

header form input {
    height: 50px;
}

/* NAV */
nav {
    background: linear-gradient(180deg, #71cbff, 5%, #3ca0da, 50%, #2c7bd6);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    width: 100dvw;
    height: 75px;
    top: 150px;
    z-index: 100;
}

nav div {

    margin-right: 70px;
    font-family: Open, Arial, Helvetica, sans-serif;
    font-size: 25px;
}

/* -------------- DIVS -------------- */
.productos {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* color: rgb(34, 99, 160); */
}

.producto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    border: 1px solid #b0d2ff;
    padding-left: 1%;
    text-align: center;
    
    width: 20%;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(78, 149, 255, 0.9);
    margin-right: 10px;
    margin-bottom: 35px;
}

.producto div{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    justify-content: baseline;
}

.producto img{
    width: 90%;
    height: 220px;
    overflow:hidden;
}

.producto img:hover{
    -webkit-transform:scale(1.1);transform:scale(1.1);
}

.producto button {
    background-color: #3b94cf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.producto button:hover {
    background-color: white;
    color: #3b94cf;
    border: 1px solid #3b94cf;
    cursor: pointer;
}

/* MODAL CARRITO */
#carritoHTML {
    width: 50%;
    height: 70%;
}

dialog {
    border: none;
    border-radius: 5px;
}

/* MODAL LOGIN */

.modal {
    display: none;
    /* Oculta la ventana modal por defecto */
    justify-content: center;
    align-items: center;
    position: fixed;
    /* Fija la ventana modal en la pantalla */
    z-index: 101;
    /* Asegura que la ventana modal esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    /* Ancho completo de la pantalla */
    height: 100%;
    /* Altura completa de la pantalla */
    overflow: hidden;
    /* Habilita la barra de desplazamiento si el contenido es demasiado largo */
    background-color: rgba(43, 43, 43, 0.5);
    /* Fondo oscuro semitransparente */
}